<?xml version="1.0"?>
<config>

	<modules>
		<Codefuel_Pages>
			<version>1.0.0</version>
			<platform>ce</platform>
		</Codefuel_Pages>
	</modules>
	<frontend>
		<layout>
			<updates>
				<codefuel_pages>
					<file>codefuel/pages.xml</file>
				</codefuel_pages>
			</updates>
		</layout>
	</frontend>
	<global>
		<helpers>
			<codefuel_pages>
				<class>Codefuel_Pages_Helper</class>
			</codefuel_pages>
		</helpers>
		<page>
			<layouts>
				<homepage module="page" translate="label">
					<label>Home page</label>
					<template>page/homepage.phtml</template>
					<layout_handle>page_homepage</layout_handle>
				</homepage>
				<product_page module="page" translate="label">
					<label>Product</label>
					<template>page/product.phtml</template>
					<layout_handle>page_product</layout_handle>
				</product_page>
				<category module="page" translate="label">
					<label>Category</label>
					<template>page/category.phtml</template>
					<layout_handle>page_category</layout_handle>
				</category>
				<static module="page" translate="label">
					<label>Static Page</label>
					<template>page/static.phtml</template>
					<layout_handle>page_static</layout_handle>
				</static>
				<contact module="page" translate="label">
					<label>Contact Page</label>
					<template>page/contact.phtml</template>
					<layout_handle>contact</layout_handle>
				</contact>
			</layouts>
		</page>
	</global>
	<default>
		<codefuel_pages>
			<general>
				<homepage>1</homepage>
				<category>1</category>
				<product>1</product>
				<static>1</static>
				<contact>1</contact>
			</general>
			<classes>
				<homepage>home-page</homepage>
				<category>category-page</category>
				<product>product-page</product>
				<static>static-page</static>
				<contact>contact-page</contact>
			</classes>
		</codefuel_pages>
	</default>
</config>
